body {
    background-color: black;
}

#calculator-io {
    margin-top: 6%;
    margin-left: 6%;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}


.light-up-on-key {
    transition: all 1s;
    color: blue;
    background-color: whitesmoke;
}